
<div class="container-fluidfooter">
    <div class=" row">
        <div class="col-lg-6">
            <h1>Angular Web</h1>
            <p>inscreva-se no canal</p>
        </div>
        <div class=" row">
            <div class="col-lg-4">
                <a routerLink="">home</a>
                <a routerLink="menu"><Menu></Menu></a>
                <a routerLink="about">Sobre</a>
                <a routerLink="contact">Contato/a>
                <a routerLink="">home</a>
            </div>

            <div class="col-lg-2">
                <a href="#"target="_blank"><i class="bi bi-youtube"></i></a>
                <a href="#"target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="#"target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="#"target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="#"target="_blank"><i class="bi bi-github"></i></a>
                <a href="#"target="_blank"><i class="bi bi-apple"></i></a>
           